<% posts.each do |post| %>
  <div class="container">
    <div class="shadow-sm card card-info mb-5">
      <div class="card-header">
        <small class="text-secondary mb-3"><%= post[:created_at].strftime('%Y年%m月%d日') %></small>
        <h5><%= link_to post.title, "/posts/#{post.id}", method: :get %></h5>
      </div>
      <p class="card-body"><%= post.body %></p>
      <p>
        <% if post.pdfs.attached? %>
          <% post.pdfs.each do |pdf| %>
            <small>資料ダウンロード : </small>
            <%= link_to pdf.filename, rails_blob_path(pdf) %>
          <% end %>
        <% end %>
      </p>
      <%= render 'favorites/like_button', post: post, class: "like_button" %>
    </div>
  </div>
<% end %>
