<div class="wrapper">
  <div class="main contents">
    <h4>新着情報</h4>
    <% if @posts.present? %>
      <%= render 'posts/posts', posts: @posts %>
    <% else %>
      <p>記事がありません。</p>
    <% end %>
    <p><%= paginate(@posts) %></p>
  </div>
  <div class="side contents">
  <% if current_user.try(:admin?) %>
    <h4 class="text-danger">管理者コンテンツ</h4>
    <ul class="list-group" style="max-width: 250px">
      <li class="list-group-item-action"><%= link_to "新着情報投稿", "/posts/new" %></li>
      <li class="list-group-item-action"><%= link_to "新規ユーザー登録", "/users/sign_up" %></li>
      <li class="list-group-item-action"><%= link_to "データ管理", "/admin" %></li>
      <li class="list-group-item-action"><%= link_to "ソフトアップロード", "/products/new" %></li>
　  </ul>
  <% end %>
    <h4>ダウンロード</h4>
    <p>最新ソフトダウンロードはこちら</p>
      <a href="/products/show" class="shadow-sm btn btn-info btn-lg">ダウンロードページ</a>
  </div>
</div>