<!DOCTYPE html>
<html>
  <head>
    <title>Techweb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Noto+Sans+JP:300&display=swap&subset=japanese" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="shadow-sm navbar navbar-light bg-light border">
        <div class="container">
          <%= link_to "TECHNO GROUP", "/", class: "navbar-brand bold" %>
          <% if user_signed_in? %>
            <%= form_tag root_path, class: "form-inline", :method => 'get' do %>
              <%= text_field_tag :search, params[:search], class: "form-control col-12", placeholder: '記事を検索..' %>
            <% end %>
            <ul class="nav justify-content-end">
              <li class="nav-item"><%= link_to "マイページ", user_path(current_user), class: "nav-link" %></li>
              <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><%= link_to "登録情報編集", edit_user_path(current_user) %></li>
                  <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                  <% if current_user.try(:admin?) %>
                    <p class="text-danger">管理者コンテンツ</p>
                    <li class="nav-item"><%= link_to "新着情報投稿", "/posts/new" %></li>
                    <li class="nav-item"><%= link_to "新規ユーザー登録", "/users/sign_up" %></li>
                    <li class="nav-item"><%= link_to "データ管理", "/admin" %></li>
                    <li class="nav-item"><%= link_to "ソフトアップロード", "/products/new" %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </header>
    
    <%= yield %>
    
    <footer>
      <strong>Copyright ©︎ 1981  -<%= Date.current.strftime('%Y')  %> 株式会社テクノグループ All Rights Reserved.</strong>
    </footer>
  </body>
</html>
