<!DOCTYPE html>
<html>
  <head>
    <title>Techweb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Noto+Sans+JP:300&display=swap&subset=japanese" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="nav_var">
        <div class="container">
          <%= form_tag root_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search]  %>
            <%= submit_tag 'Search', :name => nil %>
          <% end %>
          <ul>
            <li><%= link_to "ホーム", "/" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", user_path(current_user) %></li>
            <% end %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </header>
    
    <%= yield %>
    
    <footer>
      <strong>Copyright ©︎ 1981  -<%= Date.current.strftime('%Y')  %> 株式会社テクノグループ All Rights Reserved.</strong>
    </footer>
  </body>
</html>
